div.footer
    div Developed and Designed by:
    div.team
        div.personal
            img.profilePic(src='../../images/benyPhoto.jpeg')
            p.name Beny Lavian
            div.links
                a(href='https://www.linkedin.com/in/benjamin-lavian/')
                    img.link(src='../../images/linkedin.png')
                a(href='https://github.com/blavian')
                    img.link(src='../../images/github.png')
        div.personal
            img.profilePic(src='../../images/courtneyPhoto.jpeg')
            p.name Courtney Newcomer
            div.links
                a(href='https://www.linkedin.com/in/courtney-newcomer-gray-474b0923/')
                    img.link(src='../../images/linkedin.png')
                a(href='https://github.com/CJNewcomer')
                    img.link(src='../../images/github.png') 
        div.personal
            img.profilePic(src='../../images/garonPhoto.png') 
            p.name Garon Smith
            div.links
                a(href='https://www.linkedin.com/in/william-garon-smith-3728234b/')
                    img.link(src='../../images/linkedin.png')
                a(href='https://github.com/GaronSmith')
                    img.link(src='../../images/github.png')
        div.personal
            img.profilePic(src='../../images/nicolePhoto.jpeg')
            p.name Nicole Loescher
            div.links
                a(href='https://www.linkedin.com/in/nicole-marie-loescher/')
                    img.link(src='../../images/linkedin.png')
                a(href='https://github.com/nicole-loescher')
                    img.link(src='../../images/github.png')
                