select(class="status")
    option(value="")= "Add to Shelf"
    option(value="Want to Watch")= "Want to Watch"
    option(value="Currently Watching")= "Currently Watching"
    option(value="Watched")= "Watched"
