extends layout
block content 
    h1 Meet the team that made it possible!
        div.bookshelfBox
            h2 Beny Lavian
            //- img.bioPhoto(src='/images/benyPhoto.jpeg')
            div.bio
                p add what you want
                p 
                a(href='add your link') Find me on GitHub! <br>
                a(href='add your link') Find me on LinkedIn!
        div.bookshelfBox
            h2 Courtney Newcomer
            //- img.bioPhoto(src='/images/courtneyPhoto.jpeg')
            div.bio
                p add what you want
                p 
                a(href='add your link') Find me on GitHub! <br>
                a(href='add your link') Find me on LinkedIn!
        div.bookshelfBox
            h2 Garon Smith
            //- img.bioPhoto(src='/images/garonPhoto.jpeg')
            div.bio
                p add what you want
                p 
                a(href='add your link') Find me on GitHub! <br>
                a(href='add your link') Find me on LinkedIn!
        div.bookshelfBox
            h2 Nicole Loescher
            img.bioPhoto(src='/images/nicolePhoto.jpeg')
            div.bio
                p Software engineer in training.
                p Phoenix, Az 
                a(href='https://github.com/nicole-loescher') Find me on GitHub! <br>
                a(href='https://www.linkedin.com/in/nicole-marie-loescher/') Find me on LinkedIn!