extends layout

append head
    link(rel="stylesheet", href="/stylesheets/profile2.css")
    title User-Profile
block content
    .main-content
        each movie in users.Movies
            h1.profileName #{users.userName}
            .infoTitle Joined: #{joined}
            .space
            h1.profileName #{users.userName} 's Blockbuster Shelves
            a(href = "/bookshelves") #{movie.BlockbusterShelf.status}
            h1.profileName Recent Updates
            .statusMain
                .statusContent
                    .moviePic
                        img(class="movieImage" src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="movie")
                            
