include utils.pug
doctype html
html(lang="en")
    head
        block head
            title Login
            link(rel='stylesheet' href='/stylesheets/index.css')
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        //- nav.navbar2
        h2
            a.logo(href='/') Marvelous Movies
            img(src='../images/marvelous-movies-logo')
        block content