include utils.pug
doctype html
html(lang="en")
    head
        block head
            title Login
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel='stylesheet' href='/stylesheets/index.css')
    body
        a.logo(href='/')
            img.logo(src='../images/marvelous-movies-logo.png')
            p.home Take me back home! <br> I dont want to see my friends yet.
        block content