extends layout

append head

    link(rel="stylesheet", href="/stylesheets/blockbuster-shelf.css")
    script(src='/javascripts/status.js' type='module' defer)
    title Blockbuster Shelves

block content
    div.columnContainer
        div.sectionHeader 
            h1 My Movies
        div.leftColumn 
                div.shelves 
                    div.userShelf
                        a(id='want' href="/want") Want to Watch
                    div.userShelf 
                        a(id='current' href="/current") Currently Watching
                    div.userShelf  
                        a(id='watched' href="/watched") Watched
        div.rightColumn 
            table
                thead
                    th Movie Poster
                    th Movie Title
                    th Movie Rating
                    th Movie Year
                      
                        

