include utils.pug
doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    nav.navbar1
      a(href='/') Marvelous Movies
      if locals.authenticated
        div Welcome, #{user.userName}!
        form(action='/users/logout' method='post')
          button(type='submit', id="logout-button") logout
      else
        +validationErrorSummary(errors)
        form.navForm(action='/users/login' method='post')
          input(type='hidden' name='_csrf' value=token)
          input(name='email' type='email' placeholder='Email Address')
          input(name='password' type='password' placeholder='Password')
          button(type='submit') Login
          a(href='/users/sign_up') New Here? Sign up now!
    block content
