extends auth-layout.pug
block content
<<<<<<< HEAD
    form(action="/users/login", method="post")
=======
    form.form(action="/users/login", method="post")
        h2 Login and see your movies! <br> (They miss you!)<br>
        +validationErrorSummary(errors)
>>>>>>> main
        input(type="hidden", name="_csrf", value=token)
        div.inputs
            label(for="email") Email
            input(type="email", name="email")
        div.inputs
            label(for="password") Password
            input(type="password", name="password") 
        button.submit(type="submit") Login
        a(href='/users/sign_up') Not a member?