extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/review.css")

block content

    form(action="/reviews/create", method="post")
        input(type="hidden", name="_csrf" value=token)
        input(type="hidden", name="movieId" value=movie.id)
        //- input(type="hidden", name="userId" value=userId)
        div
            img(src="https://image.tmdb.org/t/p/original" + movie.imgPath, alt="")
        div
            select(name="rating")
                option(value= 1) 1 Stars
                option(value= 2) 2 Stars
                option(value= 3) 3 Stars
                option(value= 4) 4 Stars
                option(value= 5) 5 Stars
        div
            label(for='comment') Comment
            textarea(name='comment' placeholder='Write a review')