doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(action='/signup' method='post')
            input(type='hidden' name='_csrf' value=token)
            label(for='userName') Username
            input(type="text" name='userName') 
            label(for='firstName') First Name
            input(type="text" name='firstName') 
            label(for='lastName') Last Name
            input(type="text" name='lastName') 
            label(for='email') Email
            input(type="email" name='email') 
            label(for='bio') Biography
            textarea(name='bio')
            label(for='password') Password
            input(type="password" name="password")
            label(for='confirmPassword') Confirm Password
            input(type="password" name="confirmPassword")
            button(type='submit') Signup!


