.columnContainer {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 70px;
}

.sectionHeader {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #162F65;
    width: 960px;
    display: block;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}


.leftColumn {
    display: flex;
    width: 60%;
    float: left;
    margin: auto;
    padding: 20px 10px;
    text-align: left;
}


.shelves {
    padding-right: 10px;
    margin-right: 10px;
}


.userShelf {
    font-size: 14px;
}

.rightColumn {
    display: block;
    width: 750px;
    margin-right: 0px;
    float: right;
    margin: 0 20px 10px 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: #162F65;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 14px;
}

td {
    justify-content: space-around;
}