img{
    max-width: 100px;
    max-height: 100px;
}
.feed-container {
    background-color: white;
    padding: 5%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid #162f65;
    border-radius: 5px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

#feed-results{
    margin-top: 15px;
    list-style-type: none;
}

.result-container{
    display: flex;
    flex-direction: row;
}

.image-container{
    flex-direction: column;
    justify-content: left;
    width: 60%;
    height: 80%;
    text-align: center;
    margin: 5.5px 20px 10px 0
}

.movie-poster {
    text-align: center;
    max-width: 60%;
    max-height: 100%;
    margin: 0 auto 10px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 3px;
    border: 0;
}

.details-container{
    max-width: 40%;
    margin-right: 0px; 
    text-align: start;
}
.movie-genre{
    margin-top: 10px;
    text-align: start;
}

.movie-title{
    color: #162f65;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* .avg-rating{
    margin-top: -5px;
} */

