body {
    background-color: #e8c766;
}

.profile {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 110px;
}

.leftContainer {
    display: flex;
    width: 60%;
    padding: 40px 40px;
    margin: auto;
    text-align: left;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #162F65;
}
.image-column {
    flex-direction: column;
    justify-content: left;
    width: 180px;
    height: 100%;
    text-align: center;
    margin: 5.5px 20px 10px 0;
}

.movie-poster {
    text-align: center;
    max-width: 150px;
    max-height: 300px;
    margin: 0 auto 10px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 3px;
    border: 0;
}

.status {
    border-width: 0px;
    padding: 4px;
    width: 85%;
    background-color: #162f65;
    color: #FFF;
    font-size: 12px;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 3px;
    border-style: solid;
}

.movieDetails {
    max-width: 505px;
    margin-right: 0px;
}

h1 {
    margin: 0 auto 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #333;
    font-size: 24px;
    line-height: 1.25;
}

h2.genre {
    font-size: 20px;
    margin: auto;
}

h2 {
    color: #333;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 4px 0px;
    font-weight: normal;
}

h3 {
   border-bottom: 1px solid #ddd; 
   font-size: 14px;
   font-weight: normal;
   line-height: 21px;
}

.description {
    text-align: center;
    word-wrap: normal;
    content: normal;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin: 5% auto;
    width: 60%;
    border: 1px solid #162f65;
    border-radius: 5px;
}

.reviewHeader {
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
    width: 95%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #333;
    font-size: 24px;
    line-height: 1.25;
    border-bottom: 1px solid #ddd;
}

.createRev {
    margin-top: 5px;
    margin-right: 5px;
    border-width: 0px;
    float: right;
    padding: 4px;
    width: 18%;
    background-color: #162f65;
    color: #FFF;
    font-size: 12px;
    border-radius: 3px;
    border-style: solid;
}

.reviewBoxes {
    text-align: left;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    color: #162f65;
}

p.username {
   text-align: left;
   font-size: 14px;
   font-weight: bold;
   color: #162f65;
   height: fit-content;
}

p.rating {
    text-align: left;
    color: #162f65;
    font-size: 16px;
    height: fit-content;
    
}

p.comment {
    text-align: left;
    color: #162f65;
    font-size: 14px;
    height: fit-content;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}