body {
    background-color: #e8c766;
}

.profile {
    display: flex;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 110px;
}

.leftContainer {
    float: left;
    width: 470px;
    padding: 40px 40px;
    margin: auto;
    text-align: left;
    background-color: #FFF;
    border-radius: 5px;
}

.image-column {
    width: 150px;
    height: 100%;
    text-align: center;
    float: left;
    margin: 5.5px 20px 10px 0
}

.movie-poster {
    text-align: center;
    max-width: 150px;
    max-height: 300px;
    margin: 0 auto 10px;
    border: 0;
}

button {
    border-width: 0px;
    padding: 4px;
    width: 110px;
    background-color: #162f65;
    color: #FFF;
    font-size: 13px;
    border-radius: 3px;
    border-style: solid;
}

.movieDetails {
    float: right;
    max-width: 300px;
    margin-right: 0px;
}

h1 {
    margin: 0 auto 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #333333;
    font-size: 24px;
    line-height: 1.25;
}

h2.genre {
    font-size: 20px;
    margin: auto;
}

h2 {
    color: #333;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 4px 0px;
    font-weight: normal;
}

h3 {
   border-bottom: 1px solid #ddd; 
   font-size: 14px;
   font-weight: normal;
   line-height: 21px;
}

p {
    text-align: left;
    word-wrap: normal;
    content: normal;
}



