body{
    background-color:#e8c766
}
.navbar{
background-color: white;
}
.shelves{
   font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 24px;
   text-align:left;
   letter-spacing: normal;
   border-bottom: 1px solid ; 
}
.movieImage{
   max-width:150px;
   float:left;
}
label.status{
   float:left 
}


