body  {
    color:black;
    font-size: 16px;

}
.follow-btn{
    border-width: 0px;
    padding: 4px;
    width: 15%;
    background-color: #162f65;
    color: #FFF;
    font-size: 12px;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 3px;
    border-style: solid;
}
.type{
background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.infoTitle{
    font-size: 18px;;

}
.main-content{
    margin: 10px auto;
    text-align:left;
    width:970px;
    display: flex;
    flex-direction: column;
    align-content:center
}
.profileName{
    color:black;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 10px;
    padding: 2px 0 2px 0; 
    top: 0;
    width: 445px;
}
.space{
   border-bottom: 1px solid #d8d8d8; 
   width:445px;
}

.movieImage{
    height:150px;
    width:auto;
}
.Content{
    display: flex;
    background-color:#d8d8d8;
    box-shadow:3px 3px 3px #d8d8d8;
    width:fit-content;
}
.status{
    padding: 2px;
    width: auto;
    color:black;
    font-size: 12px;
    border-radius: 5px;
    border-style: solid;
}

.genre {
    color:black;
    font-size: 25px;
    padding-bottom: 8px;
}

h2 {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 4px 0px;
    font-weight: normal;
}

h3 {
   border-bottom: 1px solid #ddd; 
   font-size: 14px;
   font-weight: normal;
   line-height: 21px;
}

p {
    text-align: left;
    word-wrap: normal;
    content: normal;
}

.rating{
    color:black;
    font-size:22px;
}
.allInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}