

.main-content{
    margin: 0px auto;
    text-align:left;
    width:970px;
    display: flex;
    flex-direction: column;
    align-content:center

}

.profileName{
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 5px;
    padding: 4px 0 4px 0;
    top: 0;
    width: 445px;
}
.space{
   border-bottom: 1px solid #d8d8d8; 
   width:445px;
}
/* .Main{
    padding-bottom: 25px;
    padding-top: 110px;
} */
.movieImage{
    height:150px;
    width:auto;
}
.Content{
    display: flex;
    background-color:#d8d8d8;
    box-shadow:3px 3px 3px #d8d8d8;
    width:470px;
}
.status{
    padding: 4px;
    width: 85%;
    color:yellow;
    font-size: 12px;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 3px;
    border-style: solid;
}
