body{
    background-color:#e8c766
}

.shelves{
   font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height: 24px;
   text-align:left;
   letter-spacing: normal;
   border-bottom: 1px solid aliceblue; 
}
.movieImage{
   max-width:150px;
   float:left
}
.movieInfo{
    display: flex;
    flex-direction: row;
    border: 1px solid red;

}

