img {
    height: 100px;
    width: 100px;
}

.stars .comment {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}
.submit{
   padding: 1em;
    margin-top: 4px;
}
.fa-star{
    color:blue;
    cursor: pointer;
}
.container {
    display:flex;
    width: 60%;
    margin: auto;
    padding: 1rem;
}

